<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalculator">
                    <security mode="None">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ICalculatorDuplex" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3569/GettingStarted/DuplexCalculatorService"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ICalculatorDuplex"
                contract="ServiceReference1.ICalculatorDuplex" name="WSDualHttpBinding_ICalculatorDuplex">
                <identity>
                    <userPrincipalName value="c0375@lindapatent1009.com" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:5999/GettingStarted/CalculatorService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalculator"
                contract="ServiceReference2.ICalculator" name="BasicHttpBinding_ICalculator" />
        </client>
    </system.serviceModel>
</configuration>